@model IEnumerable<MarsTerraform.ViewModels.GameVM>

@{
    ViewBag.Title = "Join";
}

<h2>Choose game</h2>
<p>
    <a href="@Url.Action("Create")" class="btn btn-success">Create New</a>
</p>
@if (!string.IsNullOrEmpty(ViewBag.IsNotGameMember))
{
    <p>
        @ViewBag.IsNotGameMember
    </p>
}

<div class="azure-bg">
    <input type="checkbox" id="showInactive" value="value" />
    <label for="showInactive">Show only active games</label>

    <table class="table" id="gameTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="d-none d-lg-block">
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th class="d-none d-lg-block">
                @Html.DisplayNameFor(model => model.Closed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="d-none d-lg-block">
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td class="d-none d-lg-block">
                    @Html.DisplayFor(modelItem => item.Closed)
                </td>
                <td class="isActive">
                    @Html.CheckBoxFor(modelItem => item.IsActive, htmlAttributes: new { @class="form-control", disabled="disabled" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Players)
                </td>
                <td class="btn btn-warning">
                    <a href="@Url.Action("JoinGame", new { gameId = item.Id } )" class="btn btn-warning">Join</a>
                </td>
            </tr>
        }

    </table>
</div>

@section scripts {
    <script>
        $('#showInactive').change(function () {
            if (this.checked) {
                ChangeVisibility(true);
            } else {
                ChangeVisibility(false);
            }
        });

        function ChangeVisibility(value) {
            $("#gameTable .isActive .form-control").each(function () {
                if (!this.checked) {
                    var cell = this.parentElement;
                    var row = cell.parentElement;
                    row.hidden = value;
                }
            });
        }
    </script>
}