@model IEnumerable<MarsTerraform.ViewModels.GameVM>

@{
    ViewBag.Title = "Join";
}

<h2>Join</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
@if (!string.IsNullOrEmpty(ViewBag.IsNotGameMember))
{
    <p>
        @ViewBag.IsNotGameMember
    </p>
    <br />
}

<input type="checkbox" id="showInactive" value="value" />
<label for="showInactive">Include historical games</label>

<table class="table" id="gameTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Closed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayersCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Closed)
            </td>
            <td class="isActive">
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayersCount)
            </td>
            <td>
                @Html.ActionLink("Join", "JoinGame", new { gameId = item.Id })
            </td>
        </tr>
    }

</table>

@section scripts {
    <script>
        $('#showInactive').change(function () {
            if (this.checked) {
                ChangeVisibility(true);
            } else {
                ChangeVisibility(false);
            }
        });

        function ChangeVisibility(value) {
            $("#gameTable .isActive .check-box").each(function () {
                if (this.checked) {
                    var cell = this.parentElement;
                    var row = cell.parentElement;
                    row.hidden = value;
                }
            });
        }
    </script>
}